<!DOCTYPE html>
<html>
    <head>
        <title>website</title>
        <meta charset="utf-8" />

        <!-- Twitter Bootstrap -->
        <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}treeview.css" />
        <style type="text/css">
            body { padding-top: 60px; }
        </style>

        <!-- jQuery -->
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}pure.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}treeview.js"></script>

        <script type="text/javascript">
            var data = {{jsontree|safe}};

            $(document).ready (function () {
                render ();
                go ("tests", $('.treeItem li')[0]);
            });
        </script>
    </head>
    <body>
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">delikatess</a>
                    <ul id="nav" class="nav">
                    </ul>
                    <p class="pull-right">Logged in as <a href="#">a doctor</a></p>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="sidebar">
                <div class="well">
                    <ul class="treeItem">
                        <li>
                            <a class="name" href="javascript:void(0)">name</a>
                            <div class="children"></div>
                        </li>
                    </ul>

                    <script type="text/javascript">
                        var directive = {
                            "li": {
                                "child <- children": {
                                    "a": "child.name",
                                    "a@title": "child.hash",
                                    "a@onclick": "toggle (this.parentNode, false);",
                                    "div.children": function (ctxt) {
                                        return (ctxt.child.item.children ? rfn (ctxt.child.item) : '');
                                    }
                                }
                            }
                        };
                        var rfn = $('ul.treeItem').compile (directive);
                        $('ul.treeItem').render (data, rfn);
                    </script>
                </div>
            </div>

            <div class="content">
                <script type="text/javascript">
                </script>

                <table class="bordered-table zebra-striped" id="tablesorter">
                    <thead><tr><th>Nom</th><th>Taille</th><th>Date</th><th>Actions</th></tr></thead>

                    <tbody id="table"></tbody>
                </table>
            </div>
        </div>
    </body>
</html>

